html,
body {
  /* overflow: hidden; */
  /* overflow: scroll; */
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 360px) {
  html {
    display: flex;
  }
}

@media (min-width: 360px) and (max-width: 600px) {
  html {
    display: flex;
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 360px) {
  html {
    display: flex;
    overflow: scroll;
    min-height: 100vh;
  }
}

@media (min-width: 360px) and (max-width: 600px) {
  html {
    display: flex;
    overflow: scroll;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  html {
    display: flex;
  }
} */
