@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.content {
  min-height: 100vh;

  background-color: #f98e0a;
}
.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 13em;
}

.fit {
  color: #ef5b03;
}

.mis {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9em;
  font-family: "Poppins", sans-serif;
}

.instructors {
  display: flex;
}

.flipcard {
  background-color: transparent;
  margin: 10em;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  display: inline-block;
}

.flipcardinner {
  position: relative;
  margin: 1em;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipcard:hover .flipcardinner {
  transform: rotateY(180deg);
}

.flipcardfrontStefan,
.flipcardfrontMarko,
.flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcardfrontMarko {
  background-color: #bbb;
  color: black;
  background-image: url(https://images.unsplash.com/photo-1579758629938-03607ccdbaba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flipcardfrontStefan {
  background-color: #bbb;
  color: black;
  background-image: url(https://images.unsplash.com/photo-1516258454449-64fed1caa732?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flipcardback {
  background-color: #e58b30;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
}

/* .services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
} */

.service {
  width: 500px;
  height: 400px;
  border: 1px black solid;
  margin: 13px;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

/* .individualni {
  width: 500px;
  height: 400px;
  border: 1px black solid;
  margin: 13px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1611861615311-4409a7dc648d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1089&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* 
.grupni {
  width: 500px;
  height: 400px;
  border: 1px black solid;
  margin: 13px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1517130038641-a774d04afb3c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* 
.miniGrupe {
  width: 500px;
  height: 400px;
  border: 1px black solid;
  margin: 13px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1518622358385-8ea7d0794bf6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.hService {
  text-align: center;
  color: #ef5b03;
  font-size: 2.5em;
}

.info {
  display: flex;
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.h4Info {
  font-size: 2em;
  margin: 10px;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}

.ifnoli {
  list-style: none;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
}

/* .main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

*/

@media (max-width: 1000px) {
  .content {
    width: 100%;
    flex-direction: column;
  }

  .homeContainer {
    font-size: 7em;
  }
}

@media (max-width: 600px) {
  .content {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f98e0a;
  }
  .homeContainer {
    font-size: 3em;
  }

  .ifnoli {
    font-size: 15px;
  }

  .iconInfo {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1450px) {
  .centerFlipCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} ;
